.main-div {
  min-height: calc(100vh - 1000px);
  @media screen and (max-width: 610px) {     
    min-height: calc(100vh - 600px);
  }
}

.main-section {
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}

.barista-section {
  position: relative;
  margin: 0 auto;
}